[run]
source = gstack

omit =
    *__init__*
    *__main__*
    gstack/models/*.py
    gstack/configure.py
    gstack/core.py

[report]
exclude_lines =
    if 0:
    if __name__ == .__main__.:

ignore_errors = True
